html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background: #2b3e50;
}

#header {
	height: 7%;
	font-size: 250%;
	text-align: center;
	color: #77e1ee;
}

#map {
	height: 70%;
	text-align: center;
}

.form-horizontal, .form-group {
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

#origin, #destination {
	height: 15%;
	margin: 1%;
	font-size: 150%;
	text-align: center;
	color: #f27500;
	border-color: #e87e03;
	background: #2b3e50;
}

.img {
	height: 50px;
	margin: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}